/***************
* FONT IMPORTS *
***************/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:wght@300;400;500;600;700;800;900&display=swap");

/***************
* VARIABLES *
***************/
:root {
  /* COLORS */
  --primary-white: #f5f5f5;
  --primary-black: #222;
  --primary-pink: #ffb6a9;
  --black: #000;
  /* FONTS */
  --font-primary: "Source Sans 3", sans-serif;
  --font-secondary: "Playfair Display", monospace;
  --size-p: 1.8rem;
  --size-subTitle: 2rem;
}

/************
* NORMALIZE *
*************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-size: 1.6rem;
  font-family: var(--font-primary);
  color: var(--primary-black);
  background-color: var(--primary-white);
}

/************
* MAIN *
*************/
main {
  margin-top: 10rem;
}

/************
* IMAGES *
*************/
.img--large {
  width: 100%;
  height: 100%;
}
.img--contain {
  object-fit: contain;
}
.img--cover {
  object-fit: cover;
}

/************
* DIMENSIONS *
*************/
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}

/************
* TEXT MODS *
*************/
.font--18 {
  font-size: 1.8rem;
}
.font--20 {
  font-size: 2rem;
}
.font--60 {
  font-size: 6rem;
}
.font--90 {
  font-size: 9rem;
}
.cursor--pointer {
  cursor: pointer;
}
.weight--600 {
  font-weight: 600;
}

/************
* COLOR MODS *
*************/
.color--black1 {
  color: var(--primary-black);
}
.color--white1 {
  color: var(--primary-white);
}

/************
* UL MODS *
*************/
.ul--reset {
  list-style: none;
}

/************
* LINKS *
*************/
.link--reset {
  text-decoration: none;
}
.link--reset--black {
  text-decoration: none;
  color: var(--primary-black);
}
.link--reset--white {
  text-decoration: none;
  color: var(--primary-white);
}
.link--button--white {
  width: 100%;
  height: 100%;
  color: var(--primary-white);
  display: grid;
  place-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}
.link--button--white--2rem {
  width: 100%;
  height: 100%;
  color: var(--primary-white);
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: 600;
}
.link--button--black {
  width: 100%;
  height: 100%;
  color: var(--primary-black);
  display: grid;
  place-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}
.link--button--black--2rem {
  width: 100%;
  height: 100%;
  color: var(--primary-black);
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: 600;
}
.link--icon--white {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-white);
  gap: 1rem;
  font-weight: 600;
  font-size: 2rem;
}
.link--button {
  font-size: 2rem;
  font-weight: 600;
}

/************
* DISPLAYS *	
*************/
.flex--row--nowrap {
  display: flex;
  flex-flow: row nowrap;
}
.flex--col--nowrap {
  display: flex;
  flex-flow: column nowrap;
}

/************
* GAPS *
*************/
.gap--2rem {
  gap: 2rem;
}
.gap--4rem {
  gap: 4rem;
}

/************
* ARTICLES *
*************/
.article--1 {
  width: 100%;
  height: max-content;
  padding: 5rem 3rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}
.article--2 {
  width: 100%;
  height: max-content;
  padding: 5rem 3rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}
.article--3 {
  display: flex;
  flex-flow: column nowrap;
}

/************
* GRID *
*************/
.grid--col2{
  grid-column: 2;
}

/************
* TITLES *
*************/
.title--white--20rem {
  font-size: 2rem;
  color: var(--primary-white);
  font-weight: 700;
}
.title--1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-family: var(--font-secondary);
  font-weight: 700;
  letter-spacing: 0.2rem;
  position: relative;
  z-index: 1;
}
.title--1::before {
  border-bottom: 2px solid var(--primary-black);
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 95%;
  z-index: -1;
}
.title--1 span {
  background-color: var(--primary-white);
  padding: 0 1rem;
}
.title--1--white {
  width: 100%;
  color: var(--primary-white);
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}
.title--1--white.lines--white {
  position: relative;
  z-index: 1;
}
.title--1--white.lines--white::before {
  border-bottom: 2px solid var(--primary-white);
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 90%;
  z-index: -1;
}
.title--1--white.lines--white span {
  background-color: var(--primary-black);
  padding: 0 1rem;
}
.title--3 {
  font-size: 3.5rem;
  font-family: var(--font-secondary);
  letter-spacing: 0.2rem;
  position: relative;
  color: var(--primary-black);
}
.title--3::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: var(--primary-black);
  margin-top: 1rem;
}
.title--3--white {
  font-size: 3.5rem;
  font-family: var(--font-secondary);
  letter-spacing: 0.2rem;
  position: relative;
  color: var(--primary-white);
}
.title--3--white::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: var(--primary-white);
  margin-top: 1rem;
}
.title--bg{
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-family: var(--font-secondary);
  font-weight: 700;
  letter-spacing: 0.2rem;
  position: relative;
  z-index: 1;
}
.title--bg::before{
  content: "";
  width: 15%;
  height: 2px;
  background-color: var(--primary-black);
  position: absolute;
  top: 50%;
  left: 0;
}
.title--bg::after{
  content: "";
  width: 15%;
  height: 2px;
  background-color: var(--primary-black);
  position: absolute;
  top: 50%;
  right: 0;
}


/************
* PARAGRAPHS *
*************/
.p--1 {
  max-width: 120rem;
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 3.2rem;
  text-align: center;
}
.p--2 {
  max-width: 45rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  text-align: start;
}
.p--2--white {
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--primary-white);
}
.p--3 {
  font-size: 1.8rem;
  line-height: 3.2rem;
}
.p--4 {
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.24rem;
  text-align: center;
}

/*************
* SUBTITLES *
**************/
.subtitle--1 {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
}

/************
* HOVER *
*************/
.hover--underline--white:hover {
  border-bottom: 2px solid var(--primary-white);
}

/************
* BUTTONS *	
*************/
.button {
  width: max-content;
  min-width: 15rem;
  height: 4rem;
  padding: 0 2rem;
  border: none;
  cursor: pointer;
}
.button--black {
  background-color: var(--primary-black);
  color: var(--primary-white);
}
.button--green {
  background-color: rgb(49, 107, 49);
}
.button--white {
  background-color: var(--primary-white);
}

/************
* BORDERS *
*************/
.radius--8px {
  border-radius: 0.8rem;
}

/************
* BACKGROUNDS *
*************/
.bg--blue {
  background-color: #2374e1;
}
.bg--ig {
  background: linear-gradient(90deg, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.bg--black{
  background-color: var(--primary-black);
}
.bg--meraki{
  background-image: url("../../images/fondo--1.jpg");
}
.bg--paper{
  background-color: url("../../images/meraki-bg.png");
}

/************
* CENTER *
*************/
.center {
  display: grid;
  place-items: center;
}

/************
* STATES *
*************/
.hidden {
  display: none;
}
